extends layout

block content

    a.button(href='/') Home

    if(updated)
        h3.success Changes saved!
    h1 Update Book
    if(errors)
        p.error Ooops an error occurred!
        each error in errors
            ul.error
                li= error.message
    
    form(method="post")
        p
            label(for='title') Title
            input(name='title' type='text' id='title' value= book.title)
        p
            label(for='author') Author
            input(name='author' type='text' id='author' value= book.author)
        p
            label(for='genre') Genre
            input(name='genre' type='text' id='genre' value= book.genre)
        p
            label(for='year') Year
            input(name='year' type='text' id='year' value= book.year)
        p
            input(type='submit' value='Update Book')
    form(action="/books/"+ book.id + "/delete" method='post' onsubmit="return confirm('Do you really want to delete this book?');")
        p
            a(href="/").button Cancel
        p
            input(type='submit' value='Delete book')